<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<style>
 html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  margin-top: 38px;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
</style>
<body>

<nav class="navbar navbar-light bg-dark justify-content-between">
  <h4 class="text-white">Home</h4>
  <form class="form-inline">
    <a href="/home/profile" class="form-control mr-3 btn btn-info">Profile</a>
    <a href="/home/logout" class="form-control btn btn-danger ">Logout</a>
  </form>
</nav>

  <nav id="navbar">
        <header>Store POS</header>
        <ul>
          <li><a class="nav-link" href="#Introduction">Introduction</a></li>
          <li>
            <a class="nav-link" href="#spfeatures"
              >Features</a
            >
          </li>
          <li>
            <a class="nav-link" href="#spbenefits"> Benefits</a>
          </li>
          <header>Stack N Trace</header>
          <li><a class="nav-link" href="#introduction">Introduction</a></li>
          <li><a class="nav-link" href="#stfeatures">Features</a></li>
          <li>
            <a class="nav-link" href="#stbenefits">Benefits</a>
          </li>

        </ul>

       


      </nav>
      <main id="main-doc">
        <section class="main-section" id="Introduction">
          <header>Store POS</header>
          <header>Introduction</header>
          <article>

            <p>
              Customers ranging from small outlets to Retail Chains with Distribution
               Warehouses have found Store POS to be quite helpful in adjusting their 
               inventory to the supply demand.Manage your cash flow effectively by tracking 
               inventory and receivables, in a practical manner.A billing and inventory management 
               software that caters to the modern retail business need of managing inventory and
                running business profitably.
            </p>
      
          </article>
        </section>
        <section class="main-section" id="spfeatures">
          <header>Features</header>
          <article>
            <p>Built with a view to help Retailers manage their order and procurement pipelines, the HQ version of Store POS effectively ensures that all 
              your purchases are synchronized with demand routines from various outlets or customers.</p>
      
            <ul>
              <li>
                Residual Inventory
              </li>
              <li>Warehouse Operations</li>
              <li>
                Workflow
              </li>
            </ul>
          </article>
        </section>
        <section class="main-section" id="spbenefits">
          <header>Benefits</header>
          <article>
            <p>
              <strong>Quick Bill : </strong> 
Reduce wait times at counter by billing even non-barcoded goods, with the aid of search shortcuts
            </p>
      
            <p>
              <strong>Generate Barcodes : </strong>  Reduce wait times at counter by billing
               even non-barcoded goods, with the aid of search shortcuts
            </p>

            <p>
              <strong> Stock Replenishment : </strong>  Reduce wait times at counter by billing even non-barcoded
               goods, with the aid of search shortcuts
            </p>

            <p>
              <strong> Dead Stock Alerts : </strong>  
              Optimize stock levels, increase sales by marking down unsold inventory with the aid of ‘deadstock’ alerts.
            </p>

            <p>
              <strong>  Product Movement Matrix : </strong>  
              Increase sales by maintaining more SKUs with product
               movement analytics that help identify slow moving goods and calibrating their purchases
            </p>

            <p>
              <strong>   Multi Store / Warehouse / HQ : </strong>  
              With electronic GRNs & Cloud based integration, managing multiple outlets has 
              never been this easy
            </p>

            <p>
              <strong>Multiple Invoice Templates :</strong>
              Pick from any of the default invoice templates. Customize the 
              templates for different types of sales
            </p>

            <p>
              <strong>Multi level Pricing : </strong>
              Maintain different price levels for channel sales and
               import templates for purchases from vendors
            </p>

            <p>
              <strong>Til Management  :</strong>
              Cash receipts and payouts with a cash closure facility that leaves an audit trail.
            </p>

            <p>
              <strong> Role based Security : </strong>
              Varying levels of access control for users based on roles and responsibilities
            </p>

            <p>
              <strong>Multi Node / Multi User :</strong>
              Select a plan and connect up as many terminals as required in a single outlet
            </p>

            <p>
              <strong>Track Warranty :
              </strong>
              Generate serial numbers for consumables and track their warranty
               for better after sales service
            </p>

            <p>
              <strong> Batch Control & Expiry :
              </strong>
              Record perishable items as batches with expiry dates and replace them in a ‘single click’
            </p>

            <p>
              <strong> Receivables & Payables :
              </strong>
              Collect receivables on time with a better credit management system. 
               Manage payables with a cash & cheque reconciliation system
            </p>

            <p>
              <strong>Cloud based Analytics :
              </strong>
              ‘Be in touch’ with Analytics, on the move, even on handhelds
            </p>

            <p>
              <strong>Repack Items :
              </strong>
              Establish your brand identity by generating barcode labels that stick out.
               Increase margins by unitizing purchases made in bulk
            </p>

            <p>
              <strong>GST Reports :
              </strong>
              GST reports that can be exported and verified before upload to portal, 
              helping a retail or a distribution business meet its statutory norms
            </p>


           


          </article>
        </section>
        <section class="main-section" id="introduction">
          <header>Stack N Trace</header>
          <header>Introduction</header>
          <article>
            Seafood exported to the external world requires that the processing be handled 
            the right way to meet various norms of export countries. Before, during and after
             processing of seafood, random samples are taken and tested for microbial, anti-biotic and 
             other parameters to check if they meet expected criteria in general, of the client and the
              export country in specific. As processed seafood has a long shelf life, it becomes important
             that this data is available with the product during its shelf life and is traceable.
          </article>
        </section>
        <section class="main-section" id="stfeatures">
          <header>Features</header>
          <p><strong>General Features</strong></p>
          <p>
            ‘Intelli select’- Unique ‘Combination data selection tool’ 
            for admin to prevent mistakes at user’s end while keying in data.
          </p>

          <p>
           Single click Inline editing of master data Audit trail for transactions
          </p>
          <p>
            Multi User with graded access based on roles assigned
          </p>

          <p><strong>Raw Materials & Consumables</strong></p>
          <p>
            Receive & Grade raw material details Contract rates / Purchase Orders for Consumables
          </p>

          <p>
            Receive / Issue additional materials such as consumables / packing material

            Masters for Suppliers, Items, Logistics
          </p>
          <p>
            Reports- In stock register, Item register, Stock Summary ,
             Goods Receipt Note Register (Wide search criteria)
          </p>


          <p><strong> Production (PRE, POST, Re - PROCESS)</strong></p>
          <p>
            Record production details such as lot no, batch no., yield, labour & affix production codesb
          </p>

          <p>
            Record process unload details with finished goods & auto assign GRN no
          </p>
          <p>
            Reprocessing of finished goods / open stock Yield Analysis, Daybook Production
          </p>

          


          <p><strong>  Finished goods</strong></p>
          <p>
            Receive & Grade raw material details Contract rates / Purchase Orders for Consumables
          </p>

          <p>
            Receive / Issue additional materials such as consumables / packing material
            Masters for Suppliers, Items, Logistics
          </p>
          <p>
            Reports- In stock register, Item register, Stock Summary , Goods Receipt Note Register (Wide search criteria)
          </p>



          <p><strong> Financials
           </strong></p>
          <p>
            Raw Material Purchase Ledger
            
         
          </p>

          <p>
            Reconcile vendor payments based on Grade Yield
            
           
          </p>
          <p>
            Payment Management & Reconciliation for consumables
                    </p>

          
        </section>
        <section class="main-section" id="stbenefits">
          <header>Benefits</header>
        </section>
        <section class="main-section">
         
          <article>
            <p><strong>Quality</strong></p>
            <p>
              Global variables are in fact properties of the global object.
               In web</p>
              <p>pages the global object is window, so you can set and access global
              variables using the window.variable syntax.
            </p>
          </article>

          <article>

            <p><strong> Storage-SINGLE WAREHOUSE (Base) / MULTI (Optional)</strong></p>

            <p>
              Viewable and editable stacking area with weight / location logic
              Unique warehouse modeling tool with visual layouts
            </p>

              <p>Multi views of warehouse, graphical / spreadsheet grid views
                All Storage areas have advanced filters for drill downs and report / print
                 generation mechanisms per process
            </p>

          </article>

         
          <article>
            <p><strong>Export Documentation
             </strong></p>
            <p>
              Packing List from delivery notes
              
              Proforma invoice
              
              Commercial invoice</p>

              <p>Proforma invoice
              
             </p>
              <p> Commercial invoice
            </p>
          </article>
        </section>
      </main>
    

<%- include('footer'); -%>